<header class="fixed-class">
  <img src="../../../assets/icons/white no-background.png" height="28px">
</header>

<div>
<nav class="mobile-bottom-nav">
<div class="mobile-bottom-nav__item" routerLink="/dashboard" routerLinkActive="active">
  <div class="mobile-bottom-nav__item-content" pTooltip="Dashboard" tooltipPosition="top">
    <i class="fa fa-tachometer fa-2x"></i>
  </div>
</div>

<div class="mobile-bottom-nav__item" routerLink="/add-device" routerLinkActive="active">
  <div class="mobile-bottom-nav__item-content">
    <i class="fa fa-desktop fa-2x"></i>
  </div>
</div>

<div class="mobile-bottom-nav__item" routerLink="/home" routerLinkActive="active">
  <div class="mobile-bottom-nav__item-content">
    <i class="fa fa-home fa-2x"></i>
  </div>
</div>

<div class="mobile-bottom-nav__item" routerLink="/settings"routerLinkActive="active">
  <div class="mobile-bottom-nav__item-content">
    <i class="fa fa-cog fa-2x"></i>
  </div>
</div>

<div class="mobile-bottom-nav__item" routerLink="/profile-prosumer" routerLinkActive="active">
  <div class="mobile-bottom-nav__item-content">
    <i class="fa fa-user fa-2x"></i>
  </div>
</div>
</nav>

</div>
