button{
    background-color: darkgray;
    color: white;
    border: gray;
    margin-top: 5px;
    padding: 7px;
    display: inline-block;
    border-radius: 8px;
}

button:hover{
    background-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

span{
    margin-right:10px;

}

div{
    padding: 5px;
}

h2{
    color:blue;
}

div{
    margin:auto;
    text-align:center;
    align-items: center;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }