
table {
  width: 100%;
  border-collapse: collapse;
  overflow: visible;
}

th {
  background-color: #026670;
  color: #fff;
  font-weight: 700;
  text-align: left;
}

td,
th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}