.text-center{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #026670;
    font-size: 26px;
}
#weather_div{
    padding-top: 20px; 
    padding-right: 60px; 
    padding-left: 60px;
}
#weather_div_1{
    padding-top: 20px;
    margin-right: -20px; 
    padding-top: 20px; 
    padding-right: 60px; 
    padding-left: 60px;
}
.text-left{
    font-size: 14px;
    padding-bottom: 5px;
}
small{
    font-size: 14px;
    font-weight: 500;
    padding-left: 5px;
}
img{
    width: 30px; 
}
 
.row{
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
}
.date{
    font-style: italic;
    font-weight: 400;
    text-align: center;
}
.card-container {
    display: flex;
    
}
 #label-card{
    width: 90%;
 }
.card {
    width: 25%;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #026670;
}
.card-body{
    margin-left: 20px;
}
.graph-style{
    width: 100%;
   
}
.card-title{
    font-weight: 500; 
    color:black;
    text-align: center;
    letter-spacing: 0.5px;
    color: #026670; 
    margin-bottom: 10px;
    text-align: center;
    
}
.card-text{
    text-align: center; 
    font-weight: 500; 
    font-size: 18px; 
    padding-bottom: 5px;
    
   
}
select{
    background-color:  white;
    color: #026670;
    text-align: center;
    position: relative;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border:none;
    margin-bottom: 10PX;
    font-weight: 600px;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: 83%;
    margin-left: 15px;
}
#graphInline{
    display: inline-flex;
    margin-top: 20px;
}
.buttonOpenModal{
    width: 20px;
    
    padding: 0;
}
select{
    color: #026670;
    border-radius: 10px;
    border: 2px solid #026670;
    font-size:16px;
    font-weight: 500;
}
label{
    color: #026670;
    font-style: italic;
    text-align: center;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.green {
    color: #62C370;
}
  
.red {
    color: #e3170a;
}
.blue{
    color: #EC7357;   
}
span{
    font-size: 12px;
    font-style: oblique;
}

col{
    color: #F6F5F3;
    border: none;

}
#text-consumption-production{
    text-align: center; 
    font-weight: 500; 
    font-size: 20px;
    margin-bottom: 0; 
}
#card-lg{
    width: 50%;
}
#card-title-lg{
    padding-top: 5px;
    font-size: medium;
}

/* Close button */
.btn-close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.btn-close:hover,
.btn-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.style-info{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #7e828b;
    font-size: 14px;
    display: block;
    text-align: center;

}
.info{
    display: inline-block;
    padding: 5px;
    padding-top: 0px;

}

#card-consumption{
    width: 95%;
    margin-left: 15px;
}
#graphInline1{
    display: inline-flex;
    margin-top: 20px;
    margin-left: 20px;
}
mat-button{
 color: #026670;
 padding: 0;
}
#closeBtn
{
  width: 30px;
  height: 20px;
  font-size: 15px;
  margin-left: 40px;
}

.modal-body {
  max-height: 400px;
  overflow-y: scroll;
}

.buttonOpenModal
{
  background-color: #026670 !important;
}


.buttonOpenModal:hover
{
  background-color: #38b4bf !important;
}

.fa-table
{
  color: #fff !important;
}

button{
  background-color: #026670;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
  letter-spacing: 3px;
  height: 40px;
}

button:hover {
  background-color: #fff;
  color: #026670;
}

@media(min-width : 300px)and (max-width:500px){
    app-nav{
        width: 30%;   
    }
    .text-center{
        margin-top: 15px;
        margin-bottom: 10px;
        color: #026670;
        font-size: 26px;
    }
    #weather_div{
        padding-top: 20px; 
        padding-left: 0;
        padding-right: 0;
       
    }
    #weather_div_1{
        padding-top: 20px;
        margin-right: -20px; 
        padding-top: 20px; 
        padding-right:0px; 
        padding-left: 0px;
    }
    .text-left{
        font-size: 14px;
        padding-bottom: 5px;
    }
    small{
        font-size: 14px;
        font-weight: 500;
        padding-left: 5px;
    }
    img{
        width: 30px; 
    }
     
    .row{
        background-color: #FFF;
        padding: 20px;
        border-radius: 8px;
    }
    .date{
        font-style: italic;
        font-weight: 400;
        text-align: center;
    }
    .card-container {
        display: flex;
    }
     #label-card{
        width: 90%;
     }
    .card {
        width: 25%;
        padding: 5px 10px;
       
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin-right: 5px;
        margin-left: 5px;
        border: 1px solid #026670;
    }
    .card-body{
        margin-left: 20px;
    }
    .graph-style{
        width: 100%;
       
    }
    .card-title{
        font-weight: 500; 
        color:black;
        text-align: center;
        letter-spacing: 0.5px;
        color: #026670; 
        margin-bottom: 10px;
        text-align: center;
        
    }
    .card-text{
        text-align: center; 
        font-weight: 500; 
        font-size: 18px; 
        padding-bottom: 5px;
        
       
    }
    select{
        background-color:  white;
        color: #026670;
        text-align: center;
        position: relative;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-radius: 10px;
        border:none;
        margin-bottom: 10PX;
        font-weight: 600px;
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;
        width: 83%;
        margin-left: 15px;
    }
    #graphInline{
        display: inline-flex;
        margin-top: 20px;
    }
    .buttonOpenModal{
        width: 20px;
        
        padding: 0;
    }
    select{
        color: #026670;
        border-radius: 10px;
        border: 2px solid #026670;
        font-size:16px;
        font-weight: 500;
    }
    label{
        color: #026670;
        font-style: italic;
        text-align: center;
        margin-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .green {
        color: #62C370;
    }
      
    .red {
        color: #e3170a;
    }
    .blue{
        color: #EC7357;   
    }
    span{
        font-size: 12px;
        font-style: oblique;
    }
    
    col{
        color: #F6F5F3;
        border: none;
    
    }
    #text-consumption-production{
        text-align: center; 
        font-weight: 500; 
        font-size: 20px;
        margin-bottom: 0; 
    }
    #card-lg{
        width: 50%;
    }
    #card-title-lg{
        padding:0;
        font-size: 20px;
        margin-top: 20px;
    }
    
    /* Close button */
    .btn-close {
        float: right;
        font-size: 28px;
        font-weight: bold;
        color: #000;
    }
    
    .btn-close:hover,
    .btn-close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .style-info{
        margin-top: 15px;
        margin-bottom: 10px;
        color: #7e828b;
        font-size: 14px;
        display: block;
        text-align: center;
    
    }
    .info{
        display: inline-block;
        padding: 5px;
        padding-top: 0px;
    
    }
    
    #card-consumption{
        width: 95%;
        margin-left: 15px;
    }
    #graphInline1{
        display: inline-flex;
        margin-top: 20px;
        margin-left: 20px;
    }
    mat-button{
     color: #026670;
     padding: 0;
    }
    #closeBtn
    {
      width: 30px;
      height: 20px;
      font-size: 15px;
      margin-left: 40px;
    }
    
    .modal-body {
      max-height: 400px;
      overflow-y: scroll;
    }
    
    .buttonOpenModal
    {
      background-color: #026670 !important;
    }
    
    
    .buttonOpenModal:hover
    {
      background-color: #38b4bf !important;
    }
    
    .fa-table
    {
      color: #fff !important;
    }
    
    button{
      background-color: #026670;
      text-transform: uppercase;
      text-align: center;
      border-radius: 8px;
      filter:drop-shadow(0px 8px 4px rgba(0,0,0,0.25));
      letter-spacing: 3px;
      height: 40px;
    }
    
    button:hover {
      background-color: #fff;
      color: #026670;
    }
}