
#logo{
    border: none;
    background-color: #026670;
}
#logo img{
    text-align: center;
    width: 2.3rem;
    min-width: 2rem;
    height: fit-content;
    border-radius: 0.2rem;
    padding: 0.2rem;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    background-color: #026670;
    transition: transform .7s ease-in-out;
    padding-top: 0px;
    margin-top: 3px;
    margin-bottom: 8px;
}
#logo img:hover{
    transform: rotate(360deg);
}
#nav-style{
    background-color: #026670;
}
i{
    color: white;
    margin-right: 5px;
}

.container{
    float: flex;
}
ul{
    text-align: right;
}

.me-3{
    cursor: pointer;
    border: none;
    background-color: #026670;
    transition: transform .7s ease-in-out;
    text-decoration: none;
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(2px);
    }
    50% {
      transform: translateX(-2px);
    }
    75% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(0);
    }
  }


.fa{
    font-size: 18px;
    display: inline-block;
    margin:2.5px;
}
small{
    color: white;
}

.routerLinkActive #rlh{
    animation: shake 0.5s;
    color: #026670;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:2.5px;
    margin: 2.5px;
    text-decoration: none;
}

.active{
    animation: shake 0.5s;
    color: #026670;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:2.5px;
    text-decoration: none;
}
.me-3:hover{
    background-color: whitesmoke;
    animation: shake 0.5s;
    color: #026670;
    border-radius: 5px;
    padding:2.5px;
    margin: 2.5px;
}

.me-3 .fa:hover{
    color:#026670;
}

span{
    color: white;
    margin-left: 5px;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* #hover2:hover{
    border:2px solid white;
    animation: shake 0.5s;
    color: #026670;
    border-radius: 5px;
    padding:2.5px;
    margin: 2.5px;
    text-decoration: none;
}

#hover3:hover{
    background-color: whitesmoke;
    
} */
