
    <div class="container-fluid" #profileDispacher id = "profileDispacher">
        <div class="row" >
            <div class="col"  id = "top" >
              <div class="row" id = "img-btn" >
                <div class="col p-4 border" id = "col-img-btn">
                    <img src="../../../assets/icons/images.jpg" style="width: 54%;">
                </div>
            </div>
                <div class="col col-form">
                    <form class="p-4 border" id = "form-user-enter" style="align-items: center;">
                    <div class="form-group" >
                        <label for="role">Role:</label>
                        <input style = "width: 100%" type="text" class="form-control"  id="first-name" aria-describedby="Role" name="role" [(ngModel)]="role" [disabled]="true">
                    </div>
                    <div class="form-group" >
                        <label for="username">First Name:</label>
                        <input style = "width: 100%" type="text" class="form-control"  id="first-name" aria-describedby="First Name" name="firstName" [(ngModel)]="firstName" [disabled]="true">
                    </div>

                    <div class="form-group" style="align-self: center;">
                        <label for="First Name">Last Name:</label>
                        <input style = "width: 100%" type="text" class="form-control" id="last-name" name="lastName" [(ngModel)]="lastName"  [disabled]="true">
                    </div>
                    <div class="form-group" style="align-self: center;">
                        <label for="Email Address">Email Address:</label>
                        <input style = "width: 100%" type="text" class="form-control" name="email"  [(ngModel)]="email" [disabled]="true">
                    </div>
                    <div class="form-group" style="align-self: center;">
                        <label for="Phone Number">Phone Number:</label>
                        <input style = "width: 100%" type="text" class="form-control" name="phoneNumber"  [(ngModel)]="phoneNumber" [disabled]="true">
                    </div>
                </form>
                </div>
        </div>
    </div>
     