<div class="outer">
    <div class="container">
        <div  class="box">
            <img src="../../../assets/icons/logo-white.png">
        </div>
        <p>Welcome to the DSO application, the solution for registering consumers within the energy network and monitoring the behavior of their devices with their approval. With our advanced prediction models, we enable DSO to forecast future production and consumption within the system. This allows for optimal management of energy systems and trading with external systems. We are committed to providing you with the tools you need to improve energy efficiency, optimize resource usage, and achieve a sustainable future. Join us today and become a part of the energy revolution with the DSO application. </p>
        <div class="btn">
            <button routerLink="/signin">LOGIN</button>
           
        </div>
    </div>
    <div class="box2">
        <img src="../../../assets/icons/Smart home-amico.png">
    </div>
    
</div>

