<div class="outer">
    <div class="container">
        <div  class="box">
            <img src="../../../assets/icons/logo-white.png">
        </div>
        <p>Welcome to our energy management platform, the primary solution for users looking to control their power usage and reduce their energy bills. Our platform is designed to provide users with a simple and intuitive way to manage their energy consumption, giving them the power to control their usage from anywhere at any time. </p>
        <div class="btn">
            <button routerLink="/signin">LOGIN</button>
            <button style = "margin-left: 10px;" routerLink="/signup">SIGN UP</button>
           
        </div>
    </div>
    <div class="box2">
        <img src="../../../assets/Smart home-pana.png">
    </div>
    
</div>

